<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title"><a href="shop">Shop</a></h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="current"><span>Product Details</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->
    <div class="container">
       
          </div>
              <!-- </div> -->
        
          
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row no-gutters mb--80">
                    <div class="col-lg-7 product-main-image">
                        <div class="product-image">
                            <div class="product-gallery vertical-slide-nav">
                                <div class="product-gallery__large-image mb-md--30">
                                    <div class="product-gallery__wrapper">
                                        <div class="zakas-element-carousel main-slider image-popup"
                                        data-slick-options='{
                                            "slidesToShow": 1,
                                            "slidesToScroll": 1,
                                            "infinite": true,
                                            "arrows": false, 
                                            "asNavFor": ".nav-slider"
                                        }'>
                                            <figure class="product-gallery__image zoom">
                                                <img [src]='image' alt="Product">
                                                
                                            </figure>
                                            <!-- <figure class="product-gallery__image zoom">
                                                <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Product">
                                                <div class="product-gallery__actions">
                                                    <button class="action-btn btn-zoom-popup"><i class="fa fa-eye"></i></button>
                                                    <a href="https://www.youtube.com/watch?v=Rp19QD2XIGM" class="action-btn video-popup"><i class="fa fa-play"></i></a>
                                                </div>
                                            </figure>
                                            <figure class="product-gallery__image zoom">
                                                <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Product">
                                                <div class="product-gallery__actions">
                                                    <button class="action-btn btn-zoom-popup"><i class="fa fa-eye"></i></button>
                                                    <a href="https://www.youtube.com/watch?v=Rp19QD2XIGM" class="action-btn video-popup"><i class="fa fa-play"></i></a>
                                                </div>
                                            </figure>
                                            <figure class="product-gallery__image zoom">
                                                <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Product">
                                                <div class="product-gallery__actions">
                                                    <button class="action-btn btn-zoom-popup"><i class="fa fa-eye"></i></button>
                                                    <a href="https://www.youtube.com/watch?v=Rp19QD2XIGM" class="action-btn video-popup"><i class="fa fa-play"></i></a>
                                                </div>
                                            </figure> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-gallery__nav-image">
                                    <div class="zakas-element-carousel nav-slider slick-vertical product-slide-nav" 
                                    data-slick-options='{
                                        "spaceBetween": "30px",
                                        "slidesToShow": 3,
                                        "slidesToScroll": 1,
                                        "vertical": true,
                                        "swipe": true,
                                        "verticalSwiping": true,
                                        "infinite": true,
                                        "focusOnSelect": true,
                                        "asNavFor": ".main-slider",
                                        "arrows": true, 
                                        "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-up" },
                                        "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-down" }
                                    }'
                                    data-slick-responsive='[
                                        {
                                            "breakpoint":767, 
                                            "settings": {
                                                "slidesToShow": 4,
                                                "vertical": false
                                            } 
                                        },
                                        {
                                            "breakpoint":575, 
                                            "settings": {
                                                "slidesToShow": 3,
                                                "vertical": false
                                            } 
                                        },
                                        {
                                            "breakpoint":480, 
                                            "settings": {
                                                "slidesToShow": 2,
                                                "vertical": false
                                            } 
                                        }
                                    ]'>
                                        <figure class="product-gallery__nav-image--single">
                                            <img [src]='image' alt="Products">
                                        </figure>
                                        <!-- <figure class="product-gallery__nav-image--single">
                                            <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Products">
                                        </figure>
                                        <figure class="product-gallery__nav-image--single">
                                            <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Products">
                                        </figure>
                                        <figure class="product-gallery__nav-image--single">
                                            <img src="http://localhost/newsofine/backend/public/upload/uploads/{{sdet.productfile}}" alt="Products">
                                        </figure> -->
                                    </div>
                                </div>
                            </div>
                            <span class="product-badge sale">Sale</span>
                        </div>
                    </div>
                    <div class="col-lg-5 product-main-details mt-md--50">
                        <div class="product-summary pl--30 pl-md--0">
                            <div class="product-navigation text-right mb--20">
                                <a href="#" class="prev"><i class="fa fa-angle-double-left"></i></a>
                                <a href="#" class="next"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <div class="product-rating d-flex mb--20">
                                <div class="star-rating star-four">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                </div>
                            </div>
                            <h3 class="product-title mb--20">{{cat_name}}</h3>
                            <p class="product-short-description mb--20">{{description}}.</p>
                            <div class="product-price-wrapper mb--25">
                                <span class="money">{{price}}</span>
                                <!-- <span class="price-separator">-</span>
                                <span class="money">$400.00</span> -->
                            </div>

                            <form action="#" class="form--action mb--30">
                                <div class="table-content table-responsive mb--30">
                                    <table class="table group-product-table">
                                        <tr>
                                            <td class="product-quantity">
                                                <div class="quantity">
                                                    <input type="number" class="quantity-input" name="qty" id="qty-1" value="0" min="0">
                                                </div>
                                            </td>
                                            <td class="product-name">
                                                <h3><a (click)="navigate(r.id)">{{product_name}}</a></h3>
                                            </td>
                                            <td class="product-price">
                                                <div class="product-price-wrapper">
                                                    <span class="money">{{price}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="product-quantity">
                                                <div class="quantity">
                                                    <input type="number" class="quantity-input" name="qty" id="qty-2" value="0" min="0">
                                                </div>
                                            </td>
                                            <td class="product-name">
                                                <h3><a href="product-details.html">Slim-fit suit blazer</a></h3>
                                            </td>
                                            <td class="product-price">
                                                <div class="product-price-wrapper">
                                                    <span class="money">$49.00</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-quantity">
                                                <div class="quantity">
                                                    <input type="number" class="quantity-input" name="qty" id="qty-3" value="0" min="0">
                                                </div>
                                            </td>
                                            <td class="product-name">
                                                <h3><a href="product-details.html">Slim-fit striped cotton blazer</a></h3>
                                            </td>
                                            <td class="product-price">
                                                <div class="product-price-wrapper">
                                                    <span class="product-price-old">
                                                        <span class="money">$49.00</span>
                                                    </span>
                                                    <span class="product-price-new">
                                                        <span class="money">$42.00</span>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr> -->
                                    </table>
                                </div>
                                <div class="product-action">
                                    <button type="submit" name="submit" value="Add to cart"  (click)="OnAddCart(sdet)" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">
                                        Add To Cart
                                    </button>
                                </div>  
                            </form>
                            <div class="alert alert-success  alert-dismissible fade show" role="alert" [hidden]="!message">
                                    {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <!-- <div class="alert alert-success  alert-dismissible fade show" role="alert" [hidden]="!message">
                                        {{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div> -->
                                      <div class="alert alert-warning  alert-dismissible fade show" role="alert" [hidden]="!warming">
                                            {{warming}}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                            <div class="product-footer-meta">
                                <p><span>Category:</span> 
                                    <a href="shop.html">Full Sweater</a>,
                                    <a href="shop.html">SweatShirt</a>,
                                    <a href="shop.html">Jacket</a>,
                                    <a href="shop.html">Blazer</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb--80">
                    <div class="col-12">
                        <div class="product-data-tab tab-style-3">
                            <div class="nav nav-tabs product-data-tab__head mb--35 mb-sm--25" id="product-tab" role="tablist">
                                <a class="product-data-tab__link nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-selected="true"> 
                                    <span>Description</span>
                                </a>
                                <a class="product-data-tab__link nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-selected="true">
                                    <span>Additional Information</span>
                                </a>
                                <a class="product-data-tab__link nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="true">
                                    <span>Reviews(1)</span>
                                </a>
                            </div>
                            <div class="tab-content product-data-tab__content" id="product-tabContent">
                                <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet, consec do eiusmod tincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaLo ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. iatis unde omnis iste natus error sit voluptatem accusantium </p>

                                        <p>Lorem ipsum dolor sit amet, consec do eiusmod tincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaLo ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                        
                                        <h5 class="product-description__heading">Characteristics :</h5>
                                        <ul>
                                            <li><i class="ti-arrow-right"></i><span>Rsit amet, consectetur adipisicing elit, sed do eiusmod tempor inc.</span></li>
                                            <li><i class="ti-arrow-right"></i><span>sunt in culpa qui officia deserunt mollit anim id est laborum. </span></li>
                                            <li><i class="ti-arrow-right"></i><span>Lorem ipsum dolor sit amet, consec do eiusmod tincididu. </span></li>
                                        </ul>
                                        
                                    </div>
                                </div>
                                <div class="tab-pane" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                                    <div class="table-content table-responsive">
                                        <table class="table shop_attributes">
                                            <tbody>
                                                <tr>
                                                    <th>Weight</th>
                                                    <td>57 kg</td>
                                                </tr>
                                                <tr>
                                                    <th>Dimensions</th>
                                                    <td>160 × 152 × 110 cm</td>
                                                </tr>
                                                <tr>
                                                    <th>Color</th>
                                                    <td>
                                                        <a href="shop-sidebar.html">Black</a>,
                                                        <a href="shop-sidebar.html">Gray</a>,
                                                        <a href="shop-sidebar.html">Red</a>,
                                                        <a href="shop-sidebar.html">Violet</a>,
                                                        <a href="shop-sidebar.html">Yellow</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                    <div class="product-reviews">
                                        <h3 class="review__title">1 review for Black Blazer</h3>
                                        <ul class="review__list">
                                            <li class="review__item">
                                                <div class="review__container">
                                                    <img src="assets/img/others/comment-1.jpg" alt="Review Avatar" class="review__avatar">
                                                    <div class="review__text">
                                                        <div class="d-flex flex-sm-row flex-column justify-content-between">
                                                            <div class="review__meta">
                                                                <strong class="review__author">John Snow </strong>
                                                                <span class="review__dash">-</span>
                                                                <span class="review__published-date">November 20, 2018</span>
                                                            </div>
                                                            <div class="product-rating">
                                                                <div class="star-rating star-five">
                                                                    <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="review__description">Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="review-form-wrapper">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <span class="reply-title">Add a review</span>
                                                    <form action="#" class="form pr--30">
                                                        <div class="form-notes mb--20">
                                                            <p>Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                                                        </div>
                                                        <div class="form__group mb--10 pb--1">
                                                            <label class="form__label d-block" >Your Ratings</label>
                                                            <div class="rating">
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="form__group mb--10">
                                                            <label class="form__label d-block" for="email">Your Review<span class="required">*</span></label>
                                                            <textarea name="review" id="review" class="form__input form__input--textarea"></textarea>
                                                        </div>
                                                        <div class="form__group mb--20">
                                                            <label class="form__label d-block" for="name">Name<span class="required">*</span></label>
                                                            <input type="text" name="name" id="name" class="form__input">
                                                        </div>
                                                        <div class="form__group mb--20">
                                                            <label class="form__label d-block" for="email">Email<span class="required">*</span></label>
                                                            <input type="email" name="email" id="email" class="form__input">
                                                        </div>
                                                        <div class="form__group">
                                                            <div class="form-row">
                                                                <div class="col-12">
                                                                    <input type="submit" value="Submit Now" class="btn-submit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                        <h2>Other Gigs By {{name}}</h2>
                        <div class="row  flex-row flex-nowrap">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let r of response1">
                                <!-- <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6 mb--50" >  -->
                                        <div class="zakas-product">
                                            <div class="product-inner">
                                                <figure class="product-image">
                                                    <a (click)="navigate(r.id)" >
                                                        <img src="http://localhost/newsofine/backend/public/upload/uploads/{{r.productfile}}" alt="Products">
                                                    </a>
                                                    <div class="zakas-product-action">
                                                        <div class="product-action d-flex">
                                                            <div class="product-size">
                                                                <a href="" class="action-btn">
                                                                    <span class="current">XL</span>
                                                                </a>
                                                                <div class="product-size-swatch">
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        L
                                                                    </span>
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        M
                                                                    </span>
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        S
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="product-color">
                                                                <a href="" class="action-btn">
                                                                    <span class="current abbey">Abbey</span>
                                                                </a>
                                                                <div class="product-color-swatch">
                                                                    <span class="product-color-swatch-btn blue variation-btn">
                                                                        Blue
                                                                    </span>
                                                                    <span class="product-color-swatch-btn copper variation-btn">
                                                                        Copper
                                                                    </span>
                                                                    <span class="product-color-swatch-btn old-rose variation-btn">
                                                                        Old Rose
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <a href="wishlist.html" class="action-btn">
                                                                <i class="flaticon flaticon-like"></i>
                                                            </a>
                                                            <a data-toggle="modal" data-target="#productModal" class="action-btn quick-view">
                                                                <i class="flaticon flaticon-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <span class="product-badge">New</span>
                                                </figure>
                                                <div class="product-info">
                                                    <h3 class="product-title mb--15">
                                                        <a (click)="navigate(r.id)" >{{r.product_name}}</a>
                                                    </h3>
                                                    <div class="product-price-wrapper mb--30">
                                                        <span class="money">{{r.price}}</span>
                                                        <span class="money-separator">-</span>
                                                        <span class="money">$200</span>
                                                    </div>
                                                    <a href="cart" class="btn btn-small btn-bg-sand btn-color-dark">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                             </div>
                             </div></div><br>
                <div class="container">
                        <h2>Recommended For You In {{cat_name}}</h2>
                     <div class="row  flex-row flex-nowrap">
                         <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let r of response2">
                                <!-- <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6 mb--50" >  -->
                                        <div class="zakas-product">
                                            <div class="product-inner">
                                                <figure class="product-image">
                                                    <a (click)="navigate(r.id)" >
                                                        <img src="http://localhost/newsofine/backend/public/upload/uploads/{{r.productfile}}" alt="Products">
                                                    </a>
                                                    <div class="zakas-product-action">
                                                        <div class="product-action d-flex">
                                                            <div class="product-size">
                                                                <a href="" class="action-btn">
                                                                    <span class="current">XL</span>
                                                                </a>
                                                                <div class="product-size-swatch">
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        L
                                                                    </span>
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        M
                                                                    </span>
                                                                    <span class="product-size-swatch-btn variation-btn">
                                                                        S
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="product-color">
                                                                <a href="" class="action-btn">
                                                                    <span class="current abbey">Abbey</span>
                                                                </a>
                                                                <div class="product-color-swatch">
                                                                    <span class="product-color-swatch-btn blue variation-btn">
                                                                        Blue
                                                                    </span>
                                                                    <span class="product-color-swatch-btn copper variation-btn">
                                                                        Copper
                                                                    </span>
                                                                    <span class="product-color-swatch-btn old-rose variation-btn">
                                                                        Old Rose
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <a href="wishlist.html" class="action-btn">
                                                                <i class="flaticon flaticon-like"></i>
                                                            </a>
                                                            <a data-toggle="modal" data-target="#productModal" class="action-btn quick-view">
                                                                <i class="flaticon flaticon-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <span class="product-badge">New</span>
                                                </figure>
                                                <div class="product-info">
                                                    <h3 class="product-title mb--15">
                                                        <a (click)="navigate(r.id)" >{{r.product_name}}</a>
                                                    </h3>
                                                    <div class="product-price-wrapper mb--30">
                                                        <span class="money">{{r.price}}</span>
                                                        <span class="money-separator">-</span>
                                                        <span class="money">$200</span>
                                                    </div>
                                                    <a href="cart" class="btn btn-small btn-bg-sand btn-color-dark">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                             </div>
                             </div></div>
 
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper End -->